<!DOCTYPE html>
<html lang="zh-CN"> 
<head>
    <meta charset="UTF-8">
    <title>啊这.睡死了吗</title>
    <link rel="icon" href="http://home-v6.azhe.space:5000/uploads/headico_ayanami.jpg" type="image/x-icon">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body background="http://home-v6.azhe.space:5000/uploads/a.png">
    <div class="black-box">
        <div class="title">
            <h1>啊这.睡死了吗</h1>
        </div>
        <hr>
    <p> 
        啊这.当前应该是：</p>
        <h2>{{ status }}</h2>
        <p>你可以直接通过<a href="/connect">任何方式</a>和啊这.取得联系<br>
            通过这个页面，你可以知道啊这.睡死没
        </p>
    </div>
</body>
</html>